
.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.sidebar {
  width: 300px;
  background-color: #787374;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #787374;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.sidebar-item {
 
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #00ff99;
  color: white;
}

.sidebar-item.active {
  background-color: #09cc7e;
  color: white;
}


.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main-content > div {
  margin-bottom: 20px;
}

body {
  background-color: #d0cece;
}
